*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
}

label{
    text-transform: capitalize;
    font-weight: 600;
}

h1#heading{
    text-align: center;
    margin-top: 50px;
    color: #fff;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 225, 243);
}

.container{
    width: 650px;
    height: 300px;
    background-color: #A1045A;
    border-radius: 30px;
}

#content{
    margin: 15px auto 0px auto;
    width: 80%;
    text-align: center;
    background-color: #E39FF6;
    box-shadow: 0px 10px 10px rgba(0,0,0,.3);
    padding: 20px;
    border-radius: 20px;
}

.content1{
    display: inline-block;
}

.content2{
    padding: 5px 10px;
    margin: 10px;
    font-size: 30px;
    font-weight: 600;
    width: 200px;
    text-align: center;
    border-radius: 10px;
}